{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
      <section class="card card-body">
            <h1 class="display-1">Django App</h1>
            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Veniam amet nesciunt saepe expedita eum quae id nobis 
            sed delectus quod, blanditiis, autem assumenda eligendi
            officiis? Magni voluptas vitae doloremque sapiente
            Veniam amet nesciunt saepe expedita eum quae id nobis 
            sed delectus quod, blanditiis, autem assumenda eligendi
            officiis? Magni voluptas vitae doloremque sapiente
            Veniam amet nesciunt saepe expedita eum quae id nobis 
            sed delectus quod, blanditiis, autem assumenda eligendi
            officiis? Magni voluptas vitae doloremque sapiente
            Veniam amet nesciunt saepe expedita eum quae id nobis 
            sed delectus quod, blanditiis, autem assumenda eligendi
            officiis? Magni voluptas vitae doloremque sapiente.</p>

            <div class="text-center">
                  <a class="btn btn-primary"  href="/signin">Sign in</a>
                  <a class="btn btn-primary"  href="/signup">Sign up</a>
            </div>
      </section>
      
</main>

{% endblock %}